credentials.csv
modulo03/api-rekognition/image-analysis/node_modules
modulo04/trigger-dynamo/node_modules
modulo04/trigger-dynamo/.serverless/
modulo03/api-rekognition/image-analysis/.serverless/
modulo05/lambda-environment/.serverless/
modulo05/lambda-environment/node_modules/
modulo06/layers-nodejs-modules/layer/nodejs/node_modules/
modulo06/layers-nodejs-modules/.serverless/
modulo06/yumda-example/dependencies
modulo06/yumda-example/dependencies.zip
modulo06/mememaker/.serverless
modulo06/mememaker/dependencies
modulo06/mememaker/node_modules
modulo06/mememaker/dependencies.zip
modulo06/yumda-example/.serverless